datasets==4.4.1
deepspeed==0.18.2
esda==2.7.0
ffmpeg==1.4
h5py==3.15.1
huggingface_hub==0.36.2
imageio==2.37.2
joblib==1.5.2
libpysal==4.13.0
matplotlib==3.10.9
moviepy==2.2.1
numpy==2.4.4
omegaconf==2.3.0
opencv_python_headless==4.13.0.92
pandas==3.0.2
peft==0.18.0
Pillow==12.2.0
python-dotenv==1.2.2
PyYAML==6.0.3
qwen_omni_utils==0.0.9
safetensors==0.7.0
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
sentence_transformers==5.3.0
skimage==0.0
torch==2.9.1
tqdm==4.67.1
transformers==4.57.6
trl==0.25.1
